{% assign skills = site.data.data.skills %}
{% if skills %}
<div class="skills-container container-block">

  <h2 class="container-block-title">
    {{ skills.title }}
  </h2>

  <div class="skillset">
    {% if skills.groups %}
      <ul class="skills-group-list">
        {% for group in skills.groups %}
        <li>
          <span class="skills-group-title">{{ group.name }}</span>
          {% if group.items %}
          <ul class="skills-sub-list">
            {% for item in group.items %}
            <li>{{ item }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}
      </ul>
    {% else %}
      {% for skill in skills.toolset %}
      <div class="item">
        <h3 class="level-title">{{ skill.name }}</h3>
        <div class="level-bar">
          <div class="level-bar-inner" data-level="{{ skill.level }}">
          </div>
        </div><!--//level-bar-->
      </div><!--//item-->
      {% endfor %}
    {% endif %}
  </div>

</div><!--//skills-container-->
{% endif %}
